---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import {type CollectionEntry, getCollection} from 'astro:content';
import FormattedDate from '../../../components/FormattedDate.astro';
const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

export async function getStaticPaths() {
    const posts = await getCollection('blog');

    const result = posts.reduce((acc, post) => {
        post.data.tags.forEach(tag => {
            const sanitisedTag = tag.toLowerCase().replaceAll(" ", "-")
            // Find the tag group in the accumulator
            const tagGroup = acc.find(group => group.params.slug === sanitisedTag);

            if (tagGroup) {
                // If the tag group exists, push the post to its 'posts' array
                tagGroup.props.posts.push(post);
            } else {
                // If the tag group doesn't exist, create a new one
                acc.push({params: {slug: sanitisedTag}, props: {posts: [post]}});
            }
        });
        return acc;
    }, []);

    return result
}

const tagPosts = Astro.props.posts;
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={"Blog" + " | Louis Jones"}/>
</head>
<body class="dark bg-light-background">
<Header/>
<main class="w-full px-0 xl:px-8 flex justify-center">
    <section class="w-10/12 xl:w-2/3 p-2">
        <ul>
            {
                tagPosts.length ?
                    //@ts-ignore

                    tagPosts.sort((a, b) => b.data.pubDate - a.data.pubDate).map((post) => (
                            <li class="w-full fade-in">
                                <div class="flex xl:flex-row flex-col w-full">
                                    <div class="xl:w-1/2 w-full px-2 pb-1 xl:p-2 flex items-center justify-end aspect-[16/9]">
                                        <a href={`/blog/${post.slug}`} class="cursor-pointer">
                                            <img class="max-w-full w-auto h-auto rounded-xl m-auto"
                                                 src={post.data.heroImage}
                                                 alt=""/>
                                        </a>
                                    </div>
                                    <div class="xl:w-1/2 w-full px-2 pb-1 pt-4 xl:pt-8 xl:p-2">
                                        <a href={`/blog/${post.slug}`} class="cursor-pointer">
                                            <p class="text-2xl text-accent-solid">{post.data.title} <span
                                                    class="text-sm italic text-light-text"><FormattedDate
                                                    date={post.data.pubDate}/></span></p>
                                        </a>
                                        <div>
                                            <p class="text-light-text">
                                                {post.data.description}
                                            </p>
                                            <p>
                                                {
                                                    post.data.tags.map(tag => {
                                                        const sanitisedTag = tag.toLowerCase().replaceAll(" ", "-")
                                                        return <a
                                                                class="text-accent-solid hover:underline cursor-pointer mx-1 italic"
                                                                href=`/blog/tags/${sanitisedTag}`>#{tag}</a>
                                                    })
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    )) :
                        <div class="w-full h-full flex justify-center items-center"><span
                                class="text-3xl text-accent-solid">Coming soon</span></div>
            }
        </ul>
    </section>
</main>
</body>
</html>
